<header class="header-area">
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
    </ul>
    <div class="header-card">
        <div class="header-card-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
            <div class="card-header bg_cover" style="background-image: url(assets/images/card-bg.jpg)"></div>
            <!-- card-header -->
            <div class="card-profile">
                <img src="assets/images/profile.jpg" alt="Profile">
            </div> <!-- card-profile -->
            <div class="card-content text-center">
                <h3 class="card-title">Jez Reel Maghuyop</h3>
                <p class="text">Works as a Technical Advisor for Kongsberg Digital in Norway and one of Angular
                    Philippines Community Lead, I'm
                    passionate about anything related to tech and loves to take on challenging task, and always looking
                    for ways to improve.
                    I enjoy helping businesses turn their idea into reality and I love seeing people using the
                    applications I helped build.
                    I also volunteer at different events as a Tech Speaker to share knowledge and also learn from
                    others.</p>
                <a href="#" class="main-btn" data-toggle="modal" data-target="#contact-modal">Get In Touch</a>
            </div> <!-- card-content -->
            <div class="card-social text-center">
                <ul>
                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                    <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                </ul>
            </div> <!-- card-social -->
        </div> <!-- header-card -->
    </div> <!-- header-card -->
</header>